.blog {
    &-page,
    &-area {
        background-color: white;
        .zone {
            margin-bottom: 20px;
            &__title {
                font-size: 18px;
            }
            &+.zone {
                padding-top: 20px;
                border-top: 1px solid #eee;
            }
        }
        .story {
            margin-bottom: 10px;
            .meta {
                color: #999;
                margin-bottom: 0;
            }
            .summary {
                margin: 5px 0 0;
                color: #555;
            }
            @include breakpoint(xs) {
                .summary {
                    display: none;
                }
            }
            &-cover {
                margin-bottom: 15px;
                @include breakpoint(xs) {
                    .summary {
                        display: block;
                    }
                }
            }
            &-left {
                margin-bottom: 16px;
                @include breakpoint(xs) {
                    .thumb {
                        width: 33.33%;
                    }
                    .meta,
                    .summary {
                        display: none;
                    }
                }
            }
            &-listing {
                padding-top: 16px;
                border-top: 1px solid #ddd;
                .story-left {
                    .title {
                        overflow: hidden;
                    }
                    &+.story-left {
                        padding-top: 12px;
                        border-top: 1px solid #eee;
                    }
                }
            }
        }
        .pagination {
            margin-bottom: 20px;
        }
        .two-cols {
            @include clearfix();
            margin-left: -10px;
            margin-right: -10px;
            font-size: 0;
            >* {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                padding: 0 10px;
            }
        }
        .three-cols {
            @include clearfix();
            margin-left: -10px;
            margin-right: -10px;
            font-size: 0;
            >* {
                display: inline-block;
                vertical-align: top;
                width: 33.33%;
                padding: 0 10px;
            }
            &-sm {
                @include breakpoint(sm) {
                    @include clearfix();
                    margin-left: -10px;
                    margin-right: -10px;
                    font-size: 0;
                    >* {
                        display: inline-block;
                        vertical-align: top;
                        width: 33.33%;
                        padding: 0 10px;
                    }
                }
            }
            &-md {
                @include breakpoint(md) {
                    @include clearfix();
                    margin-left: -10px;
                    margin-right: -10px;
                    font-size: 0;
                    >* {
                        display: inline-block;
                        vertical-align: top;
                        width: 33.33%;
                        padding: 0 10px;
                    }
                }
            }
        }
        .four-cols {
            @include clearfix();
            margin-left: -10px;
            margin-right: -10px;
            font-size: 0;
            >* {
                display: inline-block;
                vertical-align: top;
                width: 25%;
                padding: 0 10px;
            }
            &-sm {
                @include breakpoint(sm) {
                    @include clearfix();
                    margin-left: -10px;
                    margin-right: -10px;
                    font-size: 0;
                    >* {
                        display: inline-block;
                        vertical-align: top;
                        width: 25%;
                        padding: 0 10px;
                    }
                }
            }
            &-md {
                @include breakpoint(md) {
                    @include clearfix();
                    margin-left: -10px;
                    margin-right: -10px;
                    font-size: 0;
                    >* {
                        display: inline-block;
                        vertical-align: top;
                        width: 25%;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}