/* style for edit page */

.edit {
    &__navbar {
        padding: 15px;
        background: white;
        border-radius: 5px;
        margin-bottom: 10px;
        li {
            &+li {
                margin-top: 10px;
            }
            &.is-active {
                a {
                    color: $brand-primary;
                }
            }
        }
    }
    &__hdr {
        margin-bottom: 20px;
    }
    &__block {
        margin-bottom: 10px;
        @include clearfix;
        .item--new {
            @include breakpoint(sm) {
                min-height: 96px;
            }
        }
    }
    &__wrap {
        border-radius: 5px;
        padding: 15px;
        background: white;
        margin-bottom: 30px;
        @include clearfix;
    }
    &__wrap-title {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 7px;
        border-bottom: 1px solid #eee;
        color: $brand-primary;
    }
    &__block-hdr {
        margin-bottom: 10px;
        h3 {
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
    &__block-content {
        margin-bottom: 10px;
        .search-box__bar-wrap {}
        .search-box__input-bar {
            border-color: #ccc;
        }
    }
}