// style for index page
.talent-center {
    .list-nav {
        border: 1px solid #eee;
        li {
            font-size: 16px;
            line-height: 1.4em;
            transition: all 0.2s linear;
            &.is-active {
                a {
                    color: $brand-primary;
                    font-weight: bold;
                }
            }
            &:first-child {
                padding: 10px 15px;
            }
            &+li {
                border-top: 1px solid #eee;
                &:hover {
                    background-color: #f5f5f5;
                }
            }
            a {
                display: block;
                padding: 10px 15px;
            }
        }
    }
    .form-inline {
        margin-bottom: 20px;
        background-color: #f5f5f5;
        padding: 4px;
        .form-group {
            @include clearfix();
            margin-bottom: 0;
            @include breakpoint(sm) {
                float: right;
            }
        }
        label {
            margin-top: 7px;
            float: left;
        }
        .form-control {
            display: inline-block;
            width: 200px;
            margin-left: 4px;
            float: left;
        }
    }
}