/* School report style 
    --> sr = school report
*/

.site-sr-detail {
    .kid {
        cursor: default;
        position: relative;
        &__name {
            font-size: 18px;
            line-height: 1.3em;
            margin-top: 5px;
        }
        &__alias {
            margin-top: 5px;
            font-size: 14px;
        }
        &__age {
            font-size: 14px;
            margin-top: 5px;
            color: #333;
        }
        &__tool {
            margin-top: 5px;
            .check-box {
                position: absolute;
                top: 0px;
                right: -10px;
                display: none;
            }
        }
        .parent__name {
            margin-top: 5px;
        }
        &-listing {
            margin-left: -15px;
            margin-right: -15px;
            @include clearfix;
            font-size: 0;
            .kid {
                width: 50%;
                padding: 0 15px;
                margin-bottom: 24px;
                display: inline-block;
                vertical-align: top;
                @include breakpoint(sm) {
                    width: 25%;
                }
                @include breakpoint(md) {
                    width: 20%;
                }
            }
        }
    }
    .teacher {
        border: none;
        &__avatar {
            background: none;
            border: none;
            padding: 0;
            img {
                width: 100%;
            }
        }
        &__phone {
            margin-top: 5px;
            a {
                color: $brand-primary;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &__desc {
            font-size: 14px;
            color: #999;
        }
    }
    .teacher-listing {
        .teacher {
            text-align: left;
            &__avatar {
                float: left;
                margin-right: 10px;
                width: 64px;
                img {
                    width: 100%;
                }
            }
            &__name {
                padding-top: 0;
            }

            &+.teacher {
                padding-top: 10px;
                margin-top: 10px;
                border-top: 1px solid #eee;
            }
        }
    }
    .parent {
        &__avatar {
            float: left;
            margin-right: 10px;
            width: 64px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        &__name {
            font-size: 14px;
            font-weight: bold;
        }
        &__alias {
            margin-top: 5px;
            color: #999;
        }
        &__phone {
            margin-top: 5px;
            font-size: 14px;
            a {
                color: $brand-primary;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &+.parent {
            padding-top: 10px;
            margin-top: 10px;
            border-top: 1px solid #eee;
        }
    }
    .story-left {
        &+.story-left {
            margin-top: 10px;
            padding-top: 15px;
            border-top: 1px solid #eee;
        }
        .thumb {
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 0;
        }
    }
    .pagination-wrap {
        border-bottom: none;
        margin: 20px 0 0;
    }
    .modal {
        &-header {
            padding: 0;
            margin-bottom: 15px;
            border-bottom: none;
        }
        &-content {
            box-shadow: none;
            border: none;
        }
        &-footer {
            margin-top: 15px;
            border-top: none;
            padding: 0;
        }
    }
}

.general-comment {
    &__tool {
        margin-bottom: 15px;
        .btn-default {
            background-color: #f0f0f0;
            &:hover {
                background-color: #e6e6e6;
            }
        }
        &>span,
        &>a {
            display: inline-block;
            @include breakpoint(xs) {
                margin-bottom: 5px;
            }
            &+span,
            &+a {
                margin-left: 10px;
            }
        }
        .btn-border {
            &.is-active {
                background: #e6e6e6;
                border-color: #e0e0e0;
            }
        }
    }
    &-wrap {
        &~.box__advance {
            margin-top: 15px;
        }
    }
    &__listing {}
    &__item {
        .user {
            @include clearfix;
            margin-bottom: 5px;
        }
        .avatar {
            float: left;
            border-radius: 50%;
            width: 64px;
            margin-right: 10px;
            overflow: hidden;
        }
        .name {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 3px;
        }
        .title {
            color: #999;
        }
        &+.general-comment__item {
            padding-top: 15px;
            margin-top: 10px;
            border-top: 1px solid #eee;
        }
    }
}

.class-album {
    .thumb {
        margin-bottom: 10px;
    }
    .title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .meta {
        font-size: 12px;
        color: #999;
    }
    &+.class-album {
        margin-top: 15px;
    }
}


.daily-activity {
    .time {
        color: white;
        border-radius: 15px;
        background: $brand-info;
        padding: 5px 10px;
        text-align: center;
        margin-bottom: 10px;
        display: block;
    }
    .modal-header {
        .time {
            margin-bottom: 0;
        }
    }
}

.daily-note {
    &__listing {
        &>li {
            @include clearfix;
            &+li {
                margin-top: 15px;
            }
        }
        .kid__avatar {
            width: 64px;
            height: 64px;
            margin-right: 10px;
            float: left;
        }
        .teacher {
            text-align: left;
            label {
                color: #2CA4A2;
            }
        }
        .parent {
            overflow: hidden;
            margin-bottom: 5px;
            label {
                color: $brand-info;
            }
        }
        label {
            font-weight: normal;
        }
    }
}

.mini-box {
    @include clearfix;
    margin-bottom: 15px;
    border-radius: 5px;
    background: linear-gradient(-134deg, #875792 0%, #075185 100%);
    padding: 15px 10px;
    color: white;
    &__title {
        font-size: 14px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        margin-bottom: 20px;
        time {
            text-transform: none;
            color: $brand-info;
            font-weight: bold;
        }
    }
    &__content {
        &.has-table {
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: -15px;
        }
    }
    .action {
        .btn {
            width: 100%;
        }
        .modal {
            color: #333;
            .btn {
                width: initial;
            }
        }
    }
    .calendar__note {
        li {
            font-style: normal;
        }
        &+.action {
            margin-top: 10px;
        }
    }
    .btn-danger {
        background-color: #2CA4A2;
    }
    .table {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 0;
        &>thead {
            &>tr {
                &>th {
                    color: $brand-info;
                    background: rgba(0, 0, 0, .2);
                    border-bottom: 1px solid #4377A2;
                    border-left: 1px solid #4377A2;
                    &:first-child {
                        border-left: none;
                        width: 20%;
                    }
                }
            }
        }
        &>tbody {
            &>tr {
                >td {
                    border-top: 1px solid #4377A2;
                    border-left: 1px solid #4377A2;
                    &:first-child {
                        border-left: none;
                    }
                }
            }
        }
    }
}