/* site-wrap */

.site-wrap {
    @include clearfix;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    #site-content & {
        margin-bottom: 30px;
    }
}

.site-content {
    @include clearfix;
    padding: 30px 0 40px;
    &--index {
        background-color: #fff;
    }
}

.zone {
    margin-bottom: 30px;
    /* feautured zone with item listing */
    &--featured {
        @include clearfix;
        .item--mask {
            .item__title {
                font-size: 22px;
            }
        }
        .item--mask-sm {
            .item__title {
                font-size: 18px;
            }
        }
        @include breakpoint(sm) {
            .item--mask {
                margin-bottom: 0.01%;
            }
            .item--mask-sm {
                width: 49.99%;
                float: left;
            }
        }
        @include breakpoint(md) {
            .item--mask {
                width: 66.66%;
                float: left;
            }
            .item--mask-sm {
                width: 33.33%;
                float: right;
            }
        }
    }
}

// home slider
.slider-zone {
    .bx-wrapper {
        max-width: 100% !important;
    }
}

.main-content {
    @include clearfix();
    @include respond-to-xs {
        margin-bottom: 20px;
    }
}

.main-content {
    @include breakpoint(md) {
        width: calc(100% - 320px);
        float: left;
    }
}

.sidebar {
    @include breakpoint(md) {
        width: 300px;
        float: right;
    }
}